.gameboard {
    width: 620px;
    height: 620px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
}

.blocked {
    pointer-events: none;
}